---
layout: archive
title: "<strong>How do children read minds in conversation?</strong>"
permalink: /portfolio/
author_profile: true
---



<br>
To navigate the complex social world, children must learn to figure out what other poeple know, want and believe not just from <em>what</em> they say, but <em>how</em> they say it. In everyday conversation, our inner lives leak out in all manner of cues—written on our faces, brimming in our silences, hinted at in what we leave unsaid. My research investigates how children draw rich mental inferences from these subtle conversational cues. While even infants readily recruit mental representations to navigate conversation, my work asks how conversational cues help children build and revise those representations in the first place. These skills are crucial not only for children to become smooth conversationalists, but also for social learning, theory of mind, and emotion understanding.
<br><br>
Many developmental studies assume that the relevant mental state is already available (for instance, we establish that the child knows “this person cannot see X”) and tests whether children can use that representation appropriately. But in real-world communication, we often face a harder problem: figuring out what others know, believe, or feel based on subtle and noisy cues. My work asks how children build these representations in the first place, using information embedded in language, timing, disfluency, and conversational context.

Below are examples of several lines of my ongoing research:

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

