---
layout: archive
title: "<strong>How do we read minds in conversation?</strong>"
permalink: /portfolio/
author_profile: true
---



<br>
At every turn in conversation, we tailor what we say (and don't say) based on what we think others know already, and adjust on the fly as we track understanding in real time. These moment-to-moment adjustments rely on rapid inferences about others’ mental states, often from fleeting, subtle cues rather than explicit signals.

My research explores how people make and update these inferences with remarkably little information. I focus on how people use subtle cues (e.g., hesitation, disfluency, or shifts in tone) to infer what others know, believe, or intend. These moment-to-moment inferences don’t just support smooth interaction—they shape how we learn from others and how we learn about others.

<br><br>

I study this process developmentally: How do children learn to treat these conversational cues as evidence of thought? Methodologically, I rely on behavioral experiments with children and adults, corpus analysis of natural speech, and computational modeling to understand how these conversational inferences unfold and change over development.

Below are some examples of my ongoing research:


<!-- To navigate the complex social world, children must learn to figure out what other poeple know, want and believe not just from <em>what</em> they say, but <em>how</em> they say it. In everyday conversation, our inner lives leak out in all manner of cues—written on our faces, brimming in our silences, hinted at in what we leave unsaid. My research investigates how children draw rich mental inferences from these subtle conversational cues. While even infants readily recruit mental representations to navigate conversation, my work asks how conversational cues help children build and revise those representations in the first place. These skills are crucial not only for children to become smooth conversationalists, but also for social learning, theory of mind, and emotion understanding.
<br><br>
Many developmental studies assume that the relevant mental state is already available (for instance, we establish that the child knows “this person cannot see X”) and tests whether children can use that representation appropriately. But in real-world communication, we often face a harder problem: figuring out what others know, believe, or feel based on subtle and noisy cues. My work asks how children build these representations in the first place, using information embedded in language, timing, disfluency, and conversational context.

Below are examples of several lines of my ongoing research: -->

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

