---
layout: archive
title: "Current Research"
permalink: /portfolio/
author_profile: true
---

 In everyday conversation, our inner lives leak out in all manner of cues&mdash;written on our faces, brimming in our silences, and hinted by what we leave unsaid. In my research, I am primarily interested in how children draw rich mental inferences from subtle conversational cues. While even infants seem to readily recruit mental representations in the service of conversation, my work asks how conversational cues enable children to build and update those representations in the first place. Below, you will find a selection of some of my current research.

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

